nav{
      background-color: #DA291C;
      display: flex;
      justify-content: center;
      padding: 10px;
      gap: 70px;
      font-size: large;
}

nav a{
      color: white;
      text-decoration: none;
      margin: 0 15px;
      font-weight: bold;
}


nav a:hover{
    transform: scale(1.3);
}

nav .dropdown {
  position: relative;
  display: inline-block;
}

nav .dropdownbtn {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: bold;
  cursor: pointer;
  display: inline-block;
}


nav .dropdowncontent {
  display: none;
  position: absolute;
  background-color: #DA291C;
  border-radius: 5px;
}


nav .dropdowncontent a {
  color: rgb(255, 255, 255);
  padding: 10px 15px;
  text-decoration: none;
  display: flex;
  align-items: center;
}


nav .dropdowncontent a:hover {
      text-decoration: none;
}


nav .dropdown:hover .dropdowncontent {
  display: block;
}


body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background: #f4f6f8;
  color: #333;
}

header {
  background-color: rgb(155, 22, 10);
  color: #fff;
  padding: 30px 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container {
  max-width: 1000px;
  margin: 20px auto;
  padding: 0 10px;
}

section {
  background: #fff;
  padding: 25px;
  margin-bottom: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  margin-top: 40px;
}

h2 {
  margin-bottom: 15px;
  color: rgb(0, 0, 0);
}

*{
    margin:0;
}

footer {
      background-color: rgb(0, 0, 0);
      color: white;
      text-align: center;
      padding: 10px;
      position: fixed;
      bottom: 0;
      width: 100%;
}

