nav{
      background-color: #DA291C;
      display: flex;
      justify-content: center;
      padding: 10px;
      gap: 70px;
      font-size: large;
}

nav a{
      color: white;
      text-decoration: none;
      margin: 0 15px;
      font-weight: bold;
}


nav a:hover{
    transform: scale(1.3);
}

nav .dropdown {
  position: relative;
  display: inline-block;
}

nav .dropdownbtn {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: bold;
  cursor: pointer;
  display: inline-block;
}


nav .dropdowncontent {
  display: none;
  position: absolute;
  background-color: #DA291C;
  border-radius: 5px;
}


nav .dropdowncontent a {
  color: rgb(255, 255, 255);
  padding: 10px 15px;
  text-decoration: none;
  display: flex;
  align-items: center;
}


nav .dropdowncontent a:hover {
      text-decoration: none;
}


nav .dropdown:hover .dropdowncontent {
  display: block;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}
.contact-form {
    background: white;
    padding: 30px;
    max-width: 500px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-top: 50px;
}
input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
}
button {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
.submit-btn {
      background-color: #4CAF50;
      color: white;
}
.clear-btn {
    background-color: #f44336;
    color: white;
}

*{
    margin: 0;

}

.contact-form h2{
    padding-top: 20px;
    padding-bottom: 50px;
    color: rgb(0, 0, 0);
}

footer {
      background-color: rgb(0, 0, 0);
      color: white;
      text-align: center;
      padding: 10px;
      position: fixed;
      bottom: 0;
      width: 100%;
}