nav{
      background-color: #DA291C;
      display: flex;
      justify-content: center;
      padding: 10px;
      gap: 70px;
      font-size: large;
}

nav a{
      color: white;
      text-decoration: none;
      margin: 0 15px;
      font-weight: bold;
}


nav a:hover{
    transform: scale(1.3);
}

nav .dropdown {
  position: relative;
  display: inline-block;
}

nav .dropdownbtn {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: bold;
  cursor: pointer;
  display: inline-block;
}


nav .dropdowncontent {
  display: none;
  position: absolute;
  background-color: #DA291C;
  border-radius: 5px;
}


nav .dropdowncontent a {
  color: rgb(255, 255, 255);
  padding: 10px 15px;
  text-decoration: none;
  display: flex;
  align-items: center;
}


nav .dropdowncontent a:hover {
      text-decoration: none;
}


nav .dropdown:hover .dropdowncontent {
  display: block;
}


*{
  margin: 0;

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: #f9f9f9;
  color: #333;
}

.container {
  max-width: 1000px;
  margin: 30px auto;
  padding: 20px;
}

.trophy {
  background: white;
  margin-bottom: 20px;
  padding: 20px;
  border-left: 10px solid #DA291C;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.trophy h2 {
  margin-bottom: 10px;
  color:rgb(0, 0, 0);;
}

.trophy p {
  font-size: 1.1rem;
}

footer {
      background-color: rgb(2, 2, 2);
      color: white;
      text-align: center;
      padding: 10px;
      position: fixed;
      bottom: 0;
      width: 100%;
}

header h1{
  font-size: 40px;
  align-content: center;
  text-align: center;
  margin-top: 30px;
  font-family:'Bebas Neue', sans-serif;
  color: #000000;
}
header p{
  font-size: 20px;
  align-content: center;
  text-align: center;
  font-family: cursive;
}